<%= form_with(model: [:manager, book], local: true, class: "form-horizontal",
              html: {autocomplete: "off"}) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, t('default.error')) %></h2>

      <ul>
        <% book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title, class: "col-md-3 control-label" %>
    <div class="col-md-6">
      <%= form.text_field :title, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag "publisher_name", t('activerecord.models.publisher.one'), class: "col-md-3 control-label" %>
    <div class="col-md-6">
      <% if book.publisher.present? %>
        <%= text_field_tag "publisher[name]", book.publisher.name, class: "form-control" %>
      <% else %>
        <%= text_field_tag "publisher[name]", nil, class: "form-control" %>
      <% end %>
    </div>
  </div>

  <%= render 'taginput', list: book.authors,
             singular: "author", plural: "authors" %>

  <%= render 'taginput', list: book.categories,
             singular: "category", plural: "categories" %>

  <div class="form-group">
    <%= form.label :published_date, class: "col-md-3 control-label" %>
    <div class="col-md-6">
      <%= form.date_field :published_date, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :description, class: "col-md-3 control-label" %>
    <div class="col-md-6">
      <%= form.text_area :description, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :isbn, class: "col-md-3 control-label" %>
    <div class="col-md-6">
      <%= form.text_field :isbn, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :page_count, class: "col-md-3 control-label" %>
    <div class="col-md-6">
      <%= form.number_field :page_count, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :image_link, class: "col-md-3 control-label" %>
    <div class="col-md-6">
      <%= form.text_field :image_link, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :language, class: "col-md-3 control-label" %>
    <div class="col-md-6">
      <%= form.text_field :language, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :pdf_file, class: "col-md-3 control-label" %>
    <div class="col-md-6">
      <% if @book.pdf_file.attached? %>
        <%= @book.pdf_file.blob.filename %>
        <%= link_to @book.pdf_file.purge do %>
          <i class="fa fa-times" aria-hidden="true"></i>
        <% end %>
      <% end %>
      <%= form.file_field :pdf_file, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :price, class: "col-md-3 control-label" %>
    <div class="col-md-6">
      <%= form.text_field :price, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <%= form.submit class: "mb-xs mt-xs mr-xs btn btn-primary btn-lg btn-block" %>
    </div>
  </div>
<% end %>