<section class="recent-book-sec">
  <div class="container">
    <div class="title">
      <h2><%= title %></h2>
      <hr>
    </div>
    <div class="row">
      <% books.each do |book| %>
        <div class="col-lg-2 col-md-3 col-sm-4">
          <div class="item">
            <%= image_tag book.image_link, alt:"img"%>
            <h3><%= link_to book.title, book %></h3>
            <h6><span class="price"><%= human_price(book.price) %></span></h6>
          </div>
        </div>
      <% end %>
    </div>
    <div class="btn-sec">
      <%= link_to t('home.view_books'), books_path, class: "btn gray-btn" %>
    </div>
  </div>
</section>