<div class="form">
  <h3>Quick Contact us</h3>
  <h6>We are now offering some good discount
    on selected books go and shop them</h6>
    <%= form_for :contact, url: contact_url do |f| %>
      <div class="row">
        <div class="col-md-6">
          <%= f.text_field :name, placeholder: t('contacts.placeholder.name')%>
        </div>
        <div class="col-md-6">
          <%= f.text_field :email, placeholder: t('contacts.placeholder.email')%>
        </div>
        <div class="col-md-12">
          <%= f.text_area :message, placeholder: t('contacts.placeholder.message')%>
        </div>
      </div>
      <div class="col-md-12">
        <%= f.button t("contacts.actions.save"), class: "btn black" %>
      </div>
    <% end %>
</div>