<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <% if @medium.present? %>
          <div class="address">
            <h4><%= t('home.our_address') %></h4>
            <h6><%= @medium.address%></h6>
            <h6><%= t('home.call') %> : <%= @medium.call %></h6>
            <h6><%= t('home.email') %> : <%= @medium.email %></h6>
          </div>
          <div class="timing">
            <h4><%= t('home.timing') %></h4>
            <% @medium.timing.split("\n").each do |line| %>
              <h6><%= line %></h6>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="col-md-5">
        <%= render partial: 'shared/contact_us_form'  %>
      </div>
    </div>
  </div>
  <div class="copy-right">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h5>(C) 2017. All Rights Reserved. BookStore Wordpress Theme</h5>
        </div>
        <div class="col-md-6">
          <% if @medium.present? %>
            <div class="share align-middle">
              <span class="fb">
                <%= link_to @medium.facebook , class: "btn link" do %>
                  <i class="fa fa-facebook-official" aria-hidden="true"></i>
                <% end %>
              </span>
              <span class="instagram">
                <%= link_to @medium.instagram , class: "btn link" do %>
                  <i class="fa fa-instagram"></i>
                <% end %>
              </span>
              <span class="twitter">
                <%= link_to @medium.twitter , class: "btn link" do %>
                  <i class="fa fa-twitter"></i>
                <% end %>
              </span>
              <span class="pinterest">
                <%= link_to @medium.pinterest , class: "btn link" do %>
                  <i class="fa fa-pinterest"></i>
                <% end %>
              </span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</footer>