<nav class="navbar navbar-expand-lg navbar-light">
  <%= link_to root_url, class: "navbar-brand" do %>
    <%= image_tag "logo.png", alt: "logo" %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="navbar-item">
        <%= link_to t('default.home'), root_path, class: "nav-link" %>
      </li>
      <% if current_user_admin? %>
        <li class="navbar-item">
          <%= link_to t('default.dashboard'), manager_root_url, class: "nav-link" %>
        </li>
      <% end %>
      <li class="navbar-item">
        <%= link_to t('default.shop'), books_path, class: "nav-link" %>
      </li>
      <li id="authors_list" class="navbar-item dropdown has-megamenu">
        <%= link_to t('activerecord.models.author.other'), '#',
         class: "nav-link dropdown-toggle", :"data-toggle" => "dropdown"%>
         <%= render 'shared/megamenu', list: @authors %>
      </li>
      <li id="categories_list" class="navbar-item dropdown has-megamenu">
        <%= link_to t('activerecord.models.category.other'), '#',
         class: "nav-link dropdown-toggle", :"data-toggle" => "dropdown"%>
         <%= render 'shared/megamenu', list: @categories %>
      </li>
      <li class="navbar-item">
        <% if user_signed_in? %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
        <% else %>
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        <% end %>
      </li>
    </ul>
    <% if current_user_customer? %>
      <div class="cart my-2 my-lg-0">
        <%= link_to sales_path, class: "text-warning" do %>
          <span>
            <i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
            <% if current_user.books.size > 0 %>
              <span class="quntity"><%= current_user.books.size %></span>
            <% end %>
        <%end%>
      </div>
    <% end %>
    <%= render partial: 'shared/search_form' %>
  </div>
</nav>
