<%= content_tag :div, id: "#{plural}_field", class: "field" do %>
    <%= content_tag :template, id: "#{singular}_field_template" do %>
      <div class="removable_field">
        <%= text_field_tag "#{plural}[][name]", nil, id: "#{singular}_name" %>
        <%= button_tag "X", :type => 'button', class: "delete_item" %>
      </div>
    <% end %>
    <%= label_tag "#{plural}_names","#{plural.capitalize}"%>
      <% list.each do |value| %>
        <div class="removable_field">
          <%= text_field_tag "#{plural}[][name]", "#{value[:name]}" %>
          <%= button_tag "X", :type => 'button', class: "delete_item" %>
        </div>
      <% end %>
<% end %>
<%= button_tag "New #{singular.capitalize}", :type => 'button', id: "add_#{singular}"%>