<%= form_with(model: book, local: true) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, t(:error, scope: [:default])) %></h2>

      <ul>
        <% book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= label :publisher, :name, "Publisher"%>
    <% if book.publisher.present? %>
      <%= text_field :publisher, :name, value: book.publisher.name %>
    <% else %>
      <%= text_field :publisher, :name %>
    <% end %>
  </div>

  <%= render 'addable_field', list: book.authors,
     singular: "author", plural: "authors", button_name: t(:new_author, scope: [:book, :view]) %>

  <%= render 'addable_field', list: book.categories,
     singular: "category", plural: "categories", button_name: t(:new_category, scope: [:book, :view]) %>

  <div class="field">
    <%= form.label :published_date %>
    <%= form.date_field :published_date %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :isbn %>
    <%= form.text_field :isbn %>
  </div>

  <div class="field">
    <%= form.label :page_count %>
    <%= form.number_field :page_count %>
  </div>

  <div class="field">
    <%= form.label :image_link %>
    <%= form.text_field :image_link %>
  </div>

  <div class="field">
    <%= form.label :language %>
    <%= form.text_field :language %>
  </div>

  <div class="field">
    <%= form.label :is_pdf %>
    <%= form.check_box :is_pdf %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
