<%= form_with(model: book, local: true) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= label :publisher, :name, "Publisher"%>
    <% if book.publisher.present? %>
      <%= text_field :publisher, :name, value: book.publisher.name %>
    <% else %>
      <%= text_field :publisher, :name %>
    <% end %>
  </div>

  <div id="authors_field" class="field">
    <template id="author_field_template">
      <div class="removable_field">
        <input type="text" name="authors[][name]" id="author_name"/>
        <input type="button" value="X" class="delete_item" />
      </div>
    </template>
    <%= label :authors, :name, "Authors"%>
      <% book.authors.each do |value| %>
        <div class="removable_field">
          <%= text_field "author", "name", value:"#{value[:name]}", name: "authors[][name]" %>
          <input type="button" value="X" class="delete_item" />
        </div>
      <% end %>
  </div>
  <input type="button" value="New Author" id="add_author" />

  <div id="categories_field" class="field">
    <template id="category_field_template">
      <div class="removable_field">
        <input type="text" name="categories[][name]" id="category_name"/>
        <input type="button" value="X" class="delete_item" />
      </div>
    </template>
    <%= label :categories, :name, "Categories"%>
      <% book.categories.each do |value| %>
        <div class="removable_field">
          <%= text_field "category", "name", value:"#{value[:name]}", name: "categories[][name]" %>
          <input type="button" value="X" class="delete_item" />
        </div>
      <% end %>
  </div>
  <input type="button" value="New Category" id="add_category" />

  <div class="field">
    <%= form.label :published_date %>
    <%= form.date_field :published_date %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :isbn %>
    <%= form.text_field :isbn %>
  </div>

  <div class="field">
    <%= form.label :page_count %>
    <%= form.number_field :page_count %>
  </div>

  <div class="field">
    <%= form.label :image_link %>
    <%= form.text_field :image_link %>
  </div>

  <div class="field">
    <%= form.label :language %>
    <%= form.text_field :language %>
  </div>

  <div class="field">
    <%= form.label :is_pdf %>
    <%= form.check_box :is_pdf %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
