<section class="static about-sec">

  <div class="container">

    <form autocomplete="off">
      <div class="autocomplete" id="search_google_book">
        <%= text_field_tag "search_google_book", nil, id: "search_google_book_input", placeholder: "Book" %>
        <%= button_tag t(:add_book, scope: [:book, :view]), :type => 'button', id: "search_google_book_submit"%>
      </div>
    </form>

    <h1><%= t(:new_book, scope: [:book, :view]) %></h1>

    <%= render 'form', book: @book %>

    <%= link_to t(:back, scope: [:default]), books_path %>
  </div>

</section>