<section class="body">

  <%= render partial: 'shared/admin/navbar' %>
  <div class="inner-wrapper">
    <%= render partial: 'shared/admin/sidebar' %>

    <section role="main" class="content-body">

      <%= render layout: 'shared/admin/page_header', locals: { title: t('book.view.new_book') } do %>
      <form autocomplete="off" class="form-horizontal">
        <div class="form-group">
          <%= label_tag nil, t('default.search'), class: "col-md-3 control-label" %>
          <div class="col-md-6">
            <div class="input-group input-search">
              <div class="autocomplete" id=search_google_book>
                <%= text_field_tag "search_google_book", nil, class: "form-control",id: "search_google_book_input", placeholder: t('default.search') %>
                <span class="input-group-btn">
                  <%= button_tag t('book.view.add_book'),
                      :type => 'button', id: "search_google_book_submit", class:"btn btn-default" do %>
                  <i class="fa fa-search"></i>
                  <% end %>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group"></div>
      </form>
      <%= render 'form', book: @book %>
      <% end %>

    </section>
  </div>

</section>