<% title t('activerecord.models.user.other') %>

<table class="table table-bordered table-striped mb-none" id="datatable-user">
  <thead>
  <tr>
    <th><%= User.human_attribute_name(:email) %></th>
    <th><%= User.human_attribute_name(:type) %></th>
    <th><%= User.human_attribute_name(:created_at) %></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr class="gradeX">
      <td><%= user.email %></td>
      <td><%= user.type %></td>
      <td><%= user.created_at %></td>
      <td><%= render partial: 'shared/admin/table_actions',
                      locals: {edit_path: :edit_manager_user_path,
                                delete_path: :manager_user_path,
                                item_id: user.id} %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= link_to  t('breadcrumbs.new', model: User.name), new_manager_user_url, class: "btn btn-primary" %>