<table class="table table-bordered table-striped mb-none table-with-details">
  <thead>
  <tr>
    <th><%= Category.human_attribute_name(:name) %></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr class="gradeX">
        <td><%= category.name %></td>
        <td>
          <div class="center">
            <%= link_to manager_category_path(category.id), method: :delete do %>
              <i class="fa fa-times" aria-hidden="true"></i>
            <% end %>
          </div>
        </td>
        <template id="table_hidden_data">
          <table class="table mb-none">
          <div class="row">
            <% category.books.each do |book| %>
                <div class="col-sm-6 col-md-2">
                  <div class="thumbnail">
                    <%= image_tag book.image_link, class: "card-img-top" %>
                    <div class="caption">
                      <h5><%= book.title %></h5>
                    </div>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
        </template>
      </tr>
    <% end %>
  </tbody>
</table>