<aside id="sidebar-left" class="sidebar-left">

  <div class="sidebar-header">
    <div class="sidebar-title">
      <%= t('default.navigation') %>
    </div>
    <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
      <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
    </div>
  </div>

  <div class="nano">
    <div class="nano-content">
      <nav id="menu" class="nav-main" role="navigation">
        <ul class="nav nav-main">
          <li>
            <%= link_to root_path do %>
              <i class="fa fa-home" aria-hidden="true"></i>
              <span><%= t('default.home') %></span>
            <% end %>
          </li>
          <li>
            <%= link_to manager_root_path do %>
              <i class="fa fa-dashboard" aria-hidden="true"></i>
              <span><%= t('default.dashboard') %></span>
            <% end %>
          </li>
          <li>
            <%= link_to manager_books_path do %>
              <i class="fa fa-book" aria-hidden="true"></i>
              <span><%= t('activerecord.models.book.other') %></span>
            <% end %>
          </li>
          <li>
            <%= link_to manager_users_path do %>
              <i class="fa fa-users" aria-hidden="true"></i>
              <span><%= t('activerecord.models.user.other') %></span>
            <% end %>
          </li>
          <li>
            <%= link_to manager_reviews_path do %>
              <i class="fa fa-star" aria-hidden="true"></i>
              <span><%= t('activerecord.models.review.other') %></span>
            <% end %>
          </li>
          <li>
            <%= link_to manager_authors_path do %>
              <i class="fa fa-comment-o" aria-hidden="true"></i>
              <span><%= t('activerecord.models.author.other') %></span>
            <% end %>
          </li>
          <li>
            <%= link_to manager_categories_path do %>
              <i class="fa fa-list-alt" aria-hidden="true"></i>
              <span><%= t('activerecord.models.category.other') %></span>
            <% end %>
          </li>
          <li>
            <%= link_to manager_sales_path do %>
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              <span><%= t('activerecord.models.sale.other') %></span>
            <% end %>
          </li>
        </ul>
      </nav>
</aside>
