<aside id="sidebar-left" class="sidebar-left">

  <div class="sidebar-header">
    <div class="sidebar-title">
      <%= t('default.navigation') %>
    </div>
  </div>

  <div class="nano">
    <div class="nano-content">
      <nav id="menu" class="nav-main" role="navigation">
        <ul class="nav nav-main">
          <li>
            <%= link_to root_path do %>
              <i class="fa fa-home" aria-hidden="true"></i>
              <span><%= t('default.home') %></span>
            <% end %>
          </li>
          <li>
            <%= link_to manager_root_path do %>
              <i class="fa fa-dashboard" aria-hidden="true"></i>
              <span><%= t('default.dashboard') %></span>
            <% end %>
          </li>
          <li>
            <%= link_to manager_books_path do %>
              <i class="fa fa-book" aria-hidden="true"></i>
              <span><%= t('activerecord.models.book.other') %></span>
            <% end %>
          </li>
          <li>
            <%= link_to manager_users_path do %>
              <i class="fa fa-users" aria-hidden="true"></i>
              <span><%= t('activerecord.models.user.other') %></span>
            <% end %>
          </li>
          <li>
            <%= link_to manager_reviews_path do %>
              <i class="fa fa-star" aria-hidden="true"></i>
              <span><%= t('activerecord.models.review.other') %></span>
            <% end %>
          </li>
          <li class="nav-parent">
            <a>
              <i class="fa fa-list-alt" aria-hidden="true"></i>
              <span><%= t 'default.forms' %></span>
            </a>
            <ul class="nav nav-children">
              <li>
                <%= link_to t('book.view.new_book'), new_manager_book_path %>
              </li>
              <li>
                <a href="#">
                  New User
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-parent">
            <a>
              <i class="fa fa-table" aria-hidden="true"></i>
              <span><%= t 'default.tables' %></span>
            </a>
            <ul class="nav nav-children">
              <li>
                <%= link_to t('book.view.books_table'), manager_books_path %>
              </li>
              <li>
                <%= link_to t('book.view.authors_table'), manager_authors_path %>
              </li>
              <li>
                <%= link_to t('book.view.categories_table'), manager_categories_path %>
              </li>
              <li>
                <a href="#">
                  User Tables
                </a>
              </li>
            </ul>
          </li>

        </ul>
      </nav>
</aside>
