<!DOCTYPE html>
<html>
<head>
  <title><%= I18n.t("main.title") %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

  <!-- Web Fonts  -->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

  <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'admin', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<section class="body">
  <%= render partial: 'shared/admin/navbar' %>
  <div class="inner-wrapper">
    <%= render partial: 'shared/admin/sidebar' %>
    <%= yield %>
  </div>
</section>
</body>
</html>
